/* kegiatan siswa */
.section-title {
    background-color: #1e73be;
    color: white;
    padding: 25px 15px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    width:100% ;
    margin: auto;
    font-size: 30px;
}
/* Khusus halaman Harkitnas */
.harkitnas-section .section-description {
    font-size: 25px;
    line-height: 1.6;
    color: #444;
    max-width: 2000px;
    padding: 0 15px;
    text-align: justify;
    font-weight: bold;
}


.gallery {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 100vw;
    margin: auto;
}

.main-image img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

/* Slideshow Fade + Zoom */
#mainImage {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#mainImage.fade {
    opacity: 0;
    transform: scale(1.05); /* zoom sedikit pas transisi */
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.thumbnail-row {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.thumbnail-row img {
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    flex-shrink: 0;
    transition: 0.2s;
}

.thumbnail-row img:hover {
    transform: scale(1.05);
}

.thumbnail-row img.active {
    border: 2px solid orange;
}

/* Responsif */
@media (max-width: 600px) {
    .thumbnail-row img {
        height: 50px;
    }
}
