body {
  font-family: Arial, sans-serif;
  background: #f9fafb;
  margin: 0;
  padding: 0;
  padding-top: var(--nav-offset);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; 
}

/* Kotak biru judul */
.section-title {
  background: #1e3a8a; 
  padding: 30px 22px;
  border-radius: 8 8 8px 8px; 
  margin: 10px; 
  margin-left: auto;
}


.section-title h2 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff; 
  margin: 0;
}

/* Grid responsif */
.grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom di tablet */
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 kolom di desktop */
  }
}

/* Card */
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  min-height: 350px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.tanggal {
  font-size: 14px;
  color: #6b7280; /* abu-abu */
  margin-bottom: 8px;
}

.judul {
  font-size: 16px;
  font-weight: bold;
  color: #111827;
  line-height: 1.4;
}
